@import "../../../common/less/base";

.merchant-panel {

  .info-all {
    width: 80%;
    float: left;
    vertical-align: middle;
    color: #000000;
    font-size: 14px;
  }

  .info {
    width: 20%;
    float: left;
    vertical-align: middle;
    color: #000000;
    font-size: 14px;
  }

  .content {
    width: 76%;
    float: left;
    text-align: right;
    color: #808080;
    font-size: 14px;
  }

  .arrow-right {
    float: right;

    div {
      width: 0;
      height: 0;
      overflow: hidden;
      border-width: 8px;
      border-style: dotted dotted solid;
      position: absolute;
    }

    .arrow-a {
      border-color: transparent transparent transparent #a9a9a9;
      right: -1px;
    }
    .arrow-b {
      border-color: transparent transparent transparent #ffffff;
      right: 0;
    }
  }

  .item {
    padding: 15px 10px;
    border-bottom: 1px solid #a9a9a9;
  }

  .info-lab {
    width: 50%;
    float: left;
    vertical-align: middle;
    color: #808080;
    font-size: 14px;
  }

  .delete {
    float: right;
    color: #808080;
    font-size: 16px;
  }

  .merchant-name {
  }
}

.merchant-operate {
  margin-top: 30px;
  .save-btn {
    width: 85%;
    margin: 0 auto;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: #6C716D;
    border-radius: 10px;
  }

  .active {
    background-color: #20c52d;
    &:active {
      background-color: #60c559;
    }
  }
}

.block-fadeUp {
  animation: fadeInUp 0.3s 1 ease both;
}