html,
body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  color: #434343;
}
html,
body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
body.gray {
  background: #f6f8fb;
}
html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
span,
em,
img,
ol,
dl,
dt,
dd,
p,
a,
figure {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: #434343;
}
a,
a:hover {
  text-decoration: none;
}
a:active {
  outline: none;
}
.text-small {
  font-size: 12px;
}
p {
  font-size: 14px;
}
.nothing-else {
  margin-top: 78px;
  font-size: 18px;
  color: #9da1ac;
  text-align: center;
}
.main-color {
  color: #ff8cb3 !important;
}
.show {
  display: block;
}
.hide {
  display: none;
}
input {
  border: none;
}
input:focus {
  outline: none;
  -moz-outline-style: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* close commented backslash hack */
.main {
  width: 100%;
  overflow: hidden;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}
.bounceIn {
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-delay: 0s;
}
.main {
  width: 100%;
  overflow: hidden;
}
.login {
  width: 90%;
  margin: 0 auto;
  padding-top: 35%;
}
.login .inner {
  padding: 30px 10px;
  background-color: #fcfcfc;
  border: 1px dotted #e5e5e5;
}
.login .inner .item {
  margin-bottom: 10px;
}
.login .inner .item span {
  display: inline-block;
  width: 15%;
  font-size: 14px;
}
.login .inner .item input {
  border: 0px solid #878787;
  border-bottom-width: 1px;
  font-size: 16px;
  padding: 2px 5px;
}
.login-operate {
  margin-top: 30px;
  width: 90%;
  padding: 0px 30px;
}
.login-operate .login-btn {
  display: inline-block;
  width: 40%;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: #20c52d;
  border-radius: 10px;
}
.login-operate .login-btn:active {
  background-color: #60c559;
}
.login-operate a {
  margin-left: 5%;
  color: #5eb3d7;
  font-size: 14px;
}
.login-operate a:active {
  color: #4496d7;
}
