html,
body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  color: #434343;
}
html,
body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
body.gray {
  background: #f6f8fb;
}
html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
span,
em,
img,
ol,
dl,
dt,
dd,
p,
a,
figure {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: #434343;
}
a,
a:hover {
  text-decoration: none;
}
a:active {
  outline: none;
}
.text-small {
  font-size: 12px;
}
p {
  font-size: 14px;
}
.nothing-else {
  margin-top: 78px;
  font-size: 18px;
  color: #9da1ac;
  text-align: center;
}
.main-color {
  color: #ff8cb3 !important;
}
.show {
  display: block;
}
.hide {
  display: none;
}
input {
  border: none;
}
input:focus {
  outline: none;
  -moz-outline-style: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* close commented backslash hack */
.main {
  width: 100%;
  overflow: hidden;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}
.bounceIn {
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-delay: 0s;
}
.staff-panel {
  padding: 15px 10px 10px;
  border-bottom: 1px solid #e5e5e5;
}
.staff-panel .staff-choose li {
  float: left;
  margin-right: 10px;
  border-radius: 50%;
  position: relative;
}
.staff-panel .staff-choose li img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  text-align: center;
}
.staff-panel .staff-choose li .staff-name {
  position: absolute;
  bottom: -25px;
  left: 12px;
  color: #606060;
}
.staff-panel .staff-choose .selected {
  border: 2px solid #20c52d;
}
.staff-panel .staff-choose .unselected {
  border: 2px solid #808080;
}
.staff-panel .staff-footer {
  padding: 5px 0;
}
.staff-panel .staff-footer .staff-link {
  float: right;
  color: #5eb3d7;
  font-size: 14px;
}
.staff-panel .staff-footer .staff-link:active {
  color: #4496d7;
}
.booking-panel .booking-dates {
  padding: 10px 10px 0px 10px;
  border-bottom: 1px solid #e5e5e5;
}
.booking-panel .booking-dates .booking-date {
  width: 105px;
  text-align: center;
  padding-bottom: 10px;
  margin: 0 auto;
}
.booking-panel .booking-dates .booking-date span {
  font-size: 14px;
}
.booking-panel .booking-dates .selected {
  border-bottom: 2px solid #20c52d;
}
.booking-panel .booking-dates .selected span {
  color: #20c52d;
}
.booking-panel .slick-container {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}
.booking-panel .date-circle {
  text-align: center;
}
.booking-panel .booking-table {
  padding: 20px 10px 15px;
  border-bottom: 1px dotted #a9a9a9;
}
.booking-panel .booking-table .booking-info .booking-left {
  float: left;
  width: 70%;
}
.booking-panel .booking-table .booking-info .booking-left .staff-name span {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
.booking-panel .booking-table .booking-info .booking-left .staff-name .info {
  width: 35%;
}
.booking-panel .booking-table .booking-info .booking-left .staff-name a {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  color: #20c52d;
}
.booking-panel .booking-table .booking-info .booking-left .booking-time {
  margin: 10px 0px;
}
.booking-panel .booking-table .booking-info .booking-left .booking-time span {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
.booking-panel .booking-table .booking-info .booking-left .booking-time .info {
  width: 35%;
}
.booking-panel .booking-table .booking-info .booking-left .booking-state {
  margin-bottom: 5px;
}
.booking-panel .booking-table .booking-info .booking-left .booking-state span {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
.booking-panel .booking-table .booking-info .booking-left .booking-state .info {
  width: 35%;
}
.booking-panel .booking-table .booking-operate {
  padding: 10px 0px 5px;
  text-align: right;
  font-size: 12px;
}
.booking-panel .booking-table .booking-operate span {
  color: #be6f74;
}
.booking-panel .booking-table .booking-operate span:active {
  color: #be453d;
}
.booking-panel .booking-times {
  padding: 0px 0px 10px;
}
.booking-panel .booking-times .booking-inner {
  padding: 10px 10px 0px;
}
.booking-panel .booking-times .booking-inner .booking-item {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 10px;
}
.booking-panel .booking-times .booking-inner .booking-item .booking-time {
  float: left;
  width: 35%;
}
.booking-panel .booking-times .booking-inner .booking-item .booking-time .start-time {
  font-size: 18px;
  margin-bottom: 5px;
}
.booking-panel .booking-times .booking-inner .booking-item .booking-time .end-time {
  font-size: 14px;
}
.booking-panel .booking-times .booking-inner .booking-item .booking-member {
  height: 40px;
  line-height: 40px;
  width: 35%;
  float: left;
  font-size: 14px;
}
.booking-panel .booking-times .booking-inner .booking-item .booking-member a {
  color: #20c52d;
}
.booking-panel .booking-times .booking-inner .booking-item .booking-state {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #be6f74;
}
.booking-panel .booking-times .booking-inner .booking-item .booking-state:active {
  color: #be453d;
}
